html, body {
	font-size: 1em;
	padding: 0;
	margin: 0;
}

html {
	margin: 0;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

header {
	height: 7%;
	margin: 0;
}

main {
	text-align: center;
	padding-top: 0;
	min-height: 83%;
	padding-bottom: 0;
}

footer {
	padding: 5%;
	height: 10%;
	margin-top: 0;
	padding: 5px;
}

nav {
	min-height: 7%;
	background-color: #f5f5f5;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	margin: auto;
}

nav img {
	margin-right: 30px;
	width: 4em;
	float: left;
	position: absolute;
}

nav div {
	min-height: 100%;
	display: inline-block;
}

nav div:LAST-CHILD {
	padding: 7px;
	float: right;
	vertical-align: middle;
	background-color: #888;
}

nav button {
	float: right;
	height: 100%;
}

nav div a {
	text-decoration: none;
}

nav div ul {
	float: left;
	padding: 7px;
	margin: 0;
	list-style-type: none;
	margin-left: 4em;
}

nav div ul li {
	margin: 0 5px;
	display: inline-block;
}

nav div ul li a {
	font-size: 1.03em;
	padding: 10px;
	transition: 0.5s;
	color: #555;
	border-radius: 3px;
}

nav div ul li a:hover {
	transition: 0.5s;
	color: white;
	background-color: #777;
}

nav div button {
	border-radius: 0;
	padding: 10px 10px;
	background-color: #666;
	border-style: none;
	transition: 0.2s;
}

nav div button a {
	transition: 0.2s;
	color: white;
}

nav div button:hover {
	transition: 0.2s;
	background-color: white;
}

nav div button a:hover {
	transition: 0.2s;
	color: #666;
}

#principal-imagem {
	display: block;
	width: 100%;
	height: 500px;
	background-color: #777;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#sobre {
	padding: 3%;
	background-color: #ddd;
	color: #444;
}

#sobre h2 {
	color: #555;
	font-size: 2em;
	border-bottom: 1px solid #555;
	margin: 0;
	text-align: center;
	padding: 10px 10px;
	margin: 0 20%;
	display: block;
}

#sobre p {
	padding: 0 2em;
	font-size: 1em;
}

#login {
	vertical-align: middle;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

#login div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.login {
	position: relative;
	z-index: 3;
	background: #f2f2f2;
	max-width: 50%;
	padding: 7% 0;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
	margin: auto;
	margin-top: 10%;
	font-size: 15px;
	color: #555;
}

.login input[type=text], input[type=password] {
	box-sizing: border-box;
	padding: 5px;
	background-color: #e5e5e5;
	border: none;
	width: 50%;
	margin: 5px;
}

.login span {
	color: red;
}

.login button {
	background-color: #444;
	border: none;
	padding: 5px;
	color: white;
	width: 25%;
	border-radius: 3px;
	transition: 0.3s;
}

.login button:hover {
	background-color: #ddd;
	color: #444;
	transition: 0.3s;
}

footer {
	text-align: center;
	position: relative;
	background-color: #555;
	color: white;
}